<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="c-login">
      <div class="login-form">
        <h1>Manga  Reader</h1>
        <p>Read Your Favorite Content</p>
        <div class="c-buttons">
          <button class="login" fill="outline">Login</button>
          <button class="signin" (click)="signin('/main')">Signin</button>
        </div>
      </div>

    </div>
      <div class="background">
        <img src="../../assets/appBackground.png">
      </div>
  </div>

</ion-content>
